.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Email
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td=link_to user.name, user
          %td= mail_to user.email
          %td.actions
            =link_to 'Edit', edit_user_path(user), class: 'btn btn-primary'
            =link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
= link_to 'New User', new_user_path, class: 'btn btn-primary'