body{

  background: #222;

  header{
    background: $color4;
  }

  .menu{
    background: $color3;

  }

  .content{
    background: $color5;
  }

  footer{
    background: $color2;
  }

}



table{
  background: white;
  thead{
    background: $color2;
  }
  tbody{
    tr:nth-child(even){
      background: #f5f5f5;
    }
  }
}