h1, h2, h3, h4, h5, h6, ul, li, p{
  margin: 0; padding: 0;
}

ul{ list-style: none; }

body{

  .container{
    width: 1200px;
    margin: 0 auto;
    header{
      height: 10vh;
      .menu ul{
          display: flex;
          li{
            padding: 1.5em;
          }
        }
    }

    .content{
      min-height: 90vh;
      padding: 1em;
      h1{
         margin: 0 5% .5em;
      }
    }

    footer{
      height: 5vh;
    }

  }
}


table{
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  td, th{
    padding: 5px;
    text-align: left;
  }
  tr td:last-child{
    width:1%;
    white-space:nowrap;
  }
}

form{
  width: 90%;
  margin: 0 auto;
  padding: .5em;
  background: $color3;
  .field{
    padding: .5em;
    label{
      display: inline-block;
      width: 5em;
      font-weight: bold;
    }
    input{
      background: #fff;
    }
  }
}

td.actions,
form     > .actions,
.content > .actions{
  text-align: right;
}

.content > .actions{
  margin: 1em 5%;
}