.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th
    %tbody
      - @manufacturers.each do |manufacturer|
        %tr
          %td= link_to manufacturer.name, manufacturer
          %td.actions
            = link_to 'Edit', edit_manufacturer_path(manufacturer), class: 'btn btn-primary'
            = link_to 'Destroy', manufacturer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
= link_to 'New Manufacturer', new_manufacturer_path, class: 'btn btn-primary'